<mat-grid-list cols="4">
  <mat-grid-tile
    *ngFor="let data of dataList"
    [colspan]="data.cols"
    [rowspan]="data.rows"
    style="height: calc((100% - 0.75px + 1px) * 4);">
    <mat-list>
      <h1 style="margin: 1rem">{{data.text}}</h1>
      <mat-divider></mat-divider>
      <mat-list-item *ngFor="let product of data.products">
        <mat-icon mat-list-icon mat-card-avatar
                  [style.background-image]="'url(' + product.image + ')'"
                  style="background-size: cover"></mat-icon>
        <div mat-line style="max-width:25rem; word-wrap: break-word; white-space: pre-wrap;">{{product.title}}</div>
        <div mat-line>rate: {{product.rating.rate}} - count: {{product.rating.count}}</div>
        <div mat-line>{{product.price}} $</div>
        <div style="margin-left: 2.5rem" mat-row><mat-icon mat-list-icon style="cursor: pointer" (click)="addOrRemove(data.addOrRemove, product)">{{data.addOrRemove}}</mat-icon></div>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
</mat-grid-list>
